#define ARDN_SCOUT_PROPERTIES
	alignment=neutral
	race=human
	movement=7
	movement_type=smallfoot
	usage=mixed fighter
	undead_variation=archer
	die_sound={SOUND_LIST:HUMAN_DIE}
	[portrait]
		size=400
		side="left"
		mirror="false"
		image="portraits/humans/ranger.png"
	[/portrait]
	[portrait]
		size=400
		side="right"
		mirror="true"
		image="portraits/humans/ranger.png"
	[/portrait]
	[defense]
		swamp_water=60
		forest=40
		hills=40
		shallow_water=60
		reef=60
		cave=50
		frozen=60
		mountains=40
		sand=50
	[/defense]
	[movement_costs]
		shallow_water=2
		swamp_water=1
		forest=1
		hills=1
		mountains=2
		cave=1
		frozen=1
		sand=1
	[/movement_costs]
	[resistance]
		blade=100
		pierce=100
		impact=100
		arcane=80
		cold=100
		fire=100
	[/resistance]
#enddef

#define ARDN_MOVEMENT_PYCTS
    [movement_costs]
        castle=1
        cave=2
        reef=3
        flat=1
        forest=2
		frozen=2
        fungus=2
        hills=2
        mountains=3
        sand=3
        shallow_water=3
        swamp_water=3
        village=1
    [/movement_costs]
#enddef

#define ARDN_MOVEMENT_PYCTS_MOUNTED
    [movement_costs]
        castle=1
        cave=3
        reef=2
        flat=1
        forest=2
		frozen=1
        fungus=2
        hills=3
        mountains=4
        sand=4
        shallow_water=3
        swamp_water=3
        village=1
    [/movement_costs]
#enddef

#define ARDN_DEFENSE_PYCTS
    [defense]
        shallow_water=80
        reef=70
        swamp_water=70
        sand=80
        flat=50
        forest=50
        fungus=50
        hills=40
        mountains=40
        village=40
        castle=40
        cave=60
        frozen=50
    [/defense]
#enddef

#define ARDN_RESISTANCE_PYCTS
    [resistance]
        blade=100
        pierce=100
        impact=100
        fire=80
        cold=80
        arcane=100
    [/resistance]
#enddef

#define ARDN_RESISTANCE_PYCTS_SHIELDED
    [resistance]
        blade=80
        pierce=80
        impact=100
        fire=80
        cold=80
        arcane=100
    [/resistance]
#enddef