[unit_type]
	id=ARDN Maneslakt
	name= _ "Månesläkt"
	race=ulfrskalt
	gender=male,female
	image="units/ulfrskalt/maneslakt.png"
	hitpoints=26
	experience=28
	movement=6
	movement_type=ulfrskalt
	level=1
	alignment=chaotic
	advances_to=ARDN Manefang
	cost=12
	usage=archer
	description= _ "Nimble claws and a sure balance are not common to the pack. But those who can draw a bow bring to their art the keen eye of the úlfrsläkt and their deadly reflexes."
	die_sound={SOUND_LIST:WOLF_DIE}
	[attack]
		name=claw
		description= _"claw"
		type=blade
		range=melee
		damage=3
		number=2
		icon=attacks/claws-animal.png
	[/attack]
	[attack]
		name=shortbow
		description= _"shortbow"
		type=pierce
		range=ranged
		damage=4
		number=4
		icon=attacks/bow.png
	[/attack]

	# Animations
	{DEFENSE_ANIM "units/ulfrskalt/maneslakt.png" "units/ulfrskalt/maneslakt.png" {SOUND_LIST:WOLF_HIT}}
	{ARDN_ULFRSKALT_CLAW_ATTACK units/ulfrskalt/maneslakt.png}
	{ARDN_BOW_ATTACK shortbow units/ulfrskalt/maneslakt.png}

[/unit_type]
